.arrow-up {
    position: fixed;
    opacity: 0.6;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    color: $azure;
    width: 40px;
    height: 40px;
    border: 2px solid $azure;
    border-radius: 50%;
    display: table-cell;
    line-height: 40px;
    right: 3rem;
    bottom: 2rem;
    @media (max-width: 768px) {
        right: 2rem;
    }
}
