.project {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 6px 16px rgba(24, 41, 67, 0.09);
    border-radius: 0.5rem;
    position: relative;
    padding-bottom: 4rem;
    @media (max-width: $mobile), (max-width: $tablet) {
        width: 90%;
        margin-bottom: 1.15rem;
    }
    &__content {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 3rem;
        @media (max-width: $mobile) {
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
    &__description {
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 2rem;
        color: $shuttlegray;
    }
    &__link {
        padding: 10px;
        color: $azure;
        font-style: normal;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 2rem;
        text-decoration: none;
        transition: color 0.4s ease-in-out;
        cursor: pointer;
        &:hover {
            color: $mariner;
            text-decoration: underline;
        }
    }
    &__link-icon {
        margin-right: 6px;
    }
    &__link-separator {
        background: $ghost;
        color: $ghost;
        width: 2px;
        height: 24px;
        margin: 0 20px 0 10px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    &__links-wrapper {
        display: flex;
        position: absolute;
        padding-right: 3rem;
        bottom: 0;
        width: 100%;
        background: $catskill;
        height: 64px;
        align-items: center;
        justify-content: flex-end;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        @media (max-width: 350px) {
            justify-content: center;
            padding-right: 0;
        }
    }
    &__logo {
        margin-bottom: -10px;
    }
    &__title {
        font-weight: 600;
        font-size: 1.25rem;
        word-break: break-all;
        line-height: 2rem;
        color: $bigstone;
    }
}

.project-list-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    height: auto;
    @media (max-width: $smalltablet) {
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
    }
}

.projects {
    padding: 8rem 1.5rem 0 1.5rem;
    max-width: 1187px;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    padding-bottom: 8rem;
    @media (max-width: $mobile) {
        padding-bottom: 2.85rem;
    }
    &__more {
        all: unset;
        text-align: center;
        font-size: 1.2rem;
        background: $catskill;
        border: 1px solid $azure;
        color: $azure;
        cursor: pointer;
        border-radius: 8px;
        margin-top: 2rem;
        width: 20rem;
        height: 3rem;
        box-shadow: 0px 6px 16px rgba(24, 41, 67, 0.09);
        transition: background 0.4s ease-out, color 0.4s ease-out;
        @media (max-width: $mobile) {
            width: 50%;
        }
        &:hover {
            @media (min-width: $mobile) {
                background: $azure;
                color: #ffffff;
            }
        }
    }
    &__more-wrapper {
        display: flex;
        justify-content: center;
    }
}

.projects-header {
    display: block;
    max-width: 580px;
    padding-bottom: 4rem;
    width: 100%;
    @media (max-width: $mobile), (max-width: $tablet) {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 2.28rem;
        margin-top: 5.71rem;
    }
    &__title {
        font-weight: 600;
        font-size: 2.25rem;
        line-height: 3rem;
        color: $bigstone;
        @media (max-width: $mobile) {
            font-size: 1.7rem;
            line-height: 2.28rem;
        }
    }
    &__paragraph {
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 2.25rem;
        color: $shuttlegray;
        @media (max-width: $mobile) {
            font-size: 1rem;
            line-height: 1.85rem;
        }
    }
}

.projects-wrapper {
    width: 100%;
    background: $catskill;
}