.skill-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 6.25rem;
    width: 100%;
    @media (max-width: $mobile) {
        grid-template-columns: 1fr;
        margin-bottom: 3.42rem;
    }
    @media (max-width: $tablet) {
        grid-template-columns: 1fr;
        margin-bottom: 3.42rem;
    }
    &__title {
        margin: 0;
        max-width: 379px;
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.75rem;
        position: relative;
        &:before {
            position: absolute;
            content: "";
            height: 4px;
            width: 80px;
            border-radius: 8px;
            top: -1.5rem;
            transform: matrix(1, 0, 0, -1, 0, 0);
            @media (max-width: $mobile) {
                width: 40px;
                top: -10px;
            }
        }
        &--first::before {
            background: $malachite;
        }
        &--second::before {
            background: $royalpurple;
        }
        &--third::before {
            background: $mariner;
        }
    }
}

.skill-list {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    grid-column-gap: 1.5rem;
    font-size: 1.125rem;
    @media (max-width: $tablet) {
        grid-template-columns: 1fr 1fr;
        margin-top: 2.6rem;
        margin-left: 1rem;
        // font-size: 1rem;
        line-height: 2.57rem;
        padding-inline-start: 1.14rem;
    }
    @media (max-width: $mobile) {
        grid-template-columns: 1fr;
        margin-top: 0.66rem;
        margin-left: 1.33rem;
    }
    &__element {
        font-weight: normal;
        line-height: 2.5rem;
        list-style-type: none;
        color: $shuttlegray;
        position: relative;
        &::before {
            content: "";
            width: 1.125rem;
            height: 1.125rem;
            position: absolute;
            background-size: cover;
            left: -28px;
            top: 10px;
            @media (max-width: $mobile) {
                width: 0.85rem;
                height: 0.85rem;
                top: 0.8rem;
            }
        }
        &--first::before {
            background-image: url(../assets/img/check-circle-green.svg);
        }
        &--second::before {
            background-image: url(../assets/img/check-circle-purple.svg);
        }
        &--third::before {
            background-image: url(../assets/img/check-circle-blue.svg);
        }
    }
}

.skills {
    margin-top: 12.5rem;
    padding: 8rem 1.5rem 0 1.5rem;
    width: 100%;
    max-width: 1187px;
    margin: 0 auto;
    &__title {
        width: 100%;
        font-weight: 600;
        font-size: 2.25rem;
        line-height: 3rem;
        border-bottom: 2px solid $gray;
        padding-bottom: 1rem;
        margin-bottom: 9.5rem;
        @media (max-width: $mobile) {
            text-align: center;
        }
    }
}
