.skill-group {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 20vw;
    margin-bottom: 6.25rem;
    width: 100%;
    @media (max-width: $mobile) {
        grid-template-columns: 1fr;
        margin-bottom: 3.42rem;
    }
    @media (max-width: $tablet) {
        grid-template-columns: 1fr;
        margin-bottom: 3.42rem;
    }
    &__title {
        margin: 0;
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.75rem;
        max-width: 370px;
        width: 100%;
        position: relative;
        @media (max-width: $mobile) {
            font-size: 1.57rem;
            line-height: 2.28rem;
        }
        &:before {
            position: absolute;
            content: "";
            height: 4px;
            width: 80px;
            border-radius: 8px;
            top: -10px;
            transform: matrix(1, 0, 0, -1, 0, 0);
            @media (max-width: $mobile) {
                width: 40px;
                top: -10px;
            }
        }
        &--first::before {
            background: $malachite;
        }
        &--second::before {
            background: $royalpurple;
        }
        &--third::before {
            background: $mariner;
        }
    }
}

.skill-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    grid-column-gap: 1.5rem;
    font-size: 1.125rem;
    @media (max-width: $tablet) {
        grid-template-columns: 1fr 1fr;
        margin-top: 2.6rem;
        margin-left: 2px;
        font-size: 1rem;
        line-height: 2.57rem;
        padding-inline-start: 1.14rem;
    }
    @media (max-width: $mobile) {
        grid-template-columns: 1fr;
        margin-top: 1.6rem;
        margin-left: 2px;
        font-size: 1rem;
        line-height: 2.57rem;
        padding-inline-start: 1.14rem;
    }
    &__element {
        font-weight: normal;
        line-height: 2.5rem;
        max-width: 279px;
        width: 100%;
        list-style-type: none;
        color: $shuttlegray;
        display: flex;
        align-content: center;
        margin-left: 10px;
        margin-top: -4px;
        top: -10px;
        position: relative;
        &::before {
            content: "";
            width: 1.125rem;
            height: 1.125rem;
            position: absolute;
            background-size: cover;
            left: -28px;
            top: 10px;
            @media (max-width: $mobile) {
                width: 0.85rem;
                height: 0.85rem;
                top: 0.8rem;
            }
        }
        &--first::before {
            background-image: url(../assets/img/check-circle.png);
        }
        &--second::before {
            background-image: url(../assets/img/check-circle-purple.png);
        }
        &--third::before {
            background-image: url(../assets/img/check-circle-blue.png);
        }
    }
}

.skills {
    margin-top: 12.5rem;
    margin-left: 6vw;
    margin-right: 6vw;
    @media (max-width: $mobile) {
        margin: 8.5rem 1.14rem 0 1.14rem;
    }
    &__title {
        width: 100%;
        font-weight: 600;
        font-size: 2.25rem;
        line-height: 3rem;
        @media (max-width: $mobile) {
            text-align: center;
            font-size: 1.71rem;
            line-height: 2.28rem;
        }
    }
    &__separator {
        width: 100%;
        margin-top: -1rem;
        border-bottom: 2px solid $ghost;
        opacity: 0.5;
        margin-bottom: 9.75rem;
        @media (max-width: $mobile) {
            text-align: center;
            margin-top: 0.85rem;
            margin-bottom: 4.42rem;
        }
    }
}
