$gray: #E3E6EA;
$bigstone: #171F3F;
$azure: #0593FB;
$catskill: #F5F7FA;
$ghost: #CBD2D9;
$shuttlegray: #52606D;
$malachite: #06c847;
$royalpurple: #653cad;
$mariner: #2251cc;

$mobile: 640px;
$tablet: 780px;
$desktop: 1440px;
  