$gray: #e3e6ea;
$bigstone: #171f3f;
$azure: #0593fb;
$catskill: #f5f7fa;
$ghost: #cbd2d9;
$shuttlegray: #52606d;
$malachite: #06c847;
$royalpurple: #653cad;
$mariner: #2251cc;

$mobile: 640px;
$smalltablet: 890px;
$tablet: 1200px;
$desktop: 1440px;
