@import "_normalize";
@import "_variables";
@import "_animations";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap&subset=latin-ext");

html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    @media (max-width: $mobile) {
        font-size: 14px;
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
.arrow-up {
    position: fixed;
    opacity: 0.6;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    color: $azure;
    padding-top: 2px;
    width: 40px;
    height: 40px;
    border: 2px solid $azure;
    border-radius: 50%;
    right: 3rem;
    bottom: 2rem;
    @media (max-width: 768px) {
        right: 2rem;
        padding-top: 4px;
    }
}

body {
    color: $bigstone;
}

.footer {
    background: $bigstone;
    color: #ffffff;
    padding-bottom: 8.25rem;
    height: auto;
    &__email {
        color: $azure;
        font-weight: 500;
        text-decoration: none;
        margin-left: 6vw;
        font-size: 1.25rem;
        line-height: 2rem;
        position: relative;
        &::after {
            position: absolute;
            margin: 2.375rem 0 0 -100%;
            content: "";
            border-bottom: 3px solid $azure;
            border-radius: 41px;
            width: 100%;
        }
    }
    &__link {
        margin-right: 0.625rem;
        margin-bottom: 2rem;
    }
    &__links-wrapper {
        margin-left: 6vw;
        display: flex;
        flex-direction: row;
    }
    &__paragraph {
        max-width: 580px;
        margin-left: 6vw;
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 2.25rem;
    }
    &__title {
        margin-left: 6vw;
        font-weight: 600;
        font-size: 2rem;
        line-height: 44px;
        margin-top: 140px;
        &:before {
            position: absolute;
            margin-top: -20px;
            content: "";
            height: 4px;
            width: 80px;
            border-radius: 8px;
            background: $azure;
            transform: matrix(1, 0, 0, -1, 0, 0);
        }
    }
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1rem solid $bigstone;
    @media (max-width: $mobile) {
        width: 100%;
        border: none;
    }
}

.header {
    padding: 6vw 0px 0 6vw;
    max-width: 840px;
    width: 100%;
    @media (max-width: $mobile) {
        padding: 4.57rem 1.14rem 0 1.14rem;
    }
    &__image {
        display: block;
        width: 104px;
        height: 104px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1px;
    }
    &__image--photo {
        display: block;
        opacity: 0;
        width: 104px;
        height: 104px;
        position: absolute;
        top: 0;
    }
    &__image-wrapper {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 122px;
        height: 122px;
        border: 8px solid $ghost;
        border-radius: 50%;
        opacity: 1;
        &:hover .header__image--photo {
            opacity: 1;
            transition: opacity 0.5s ease-out;
        }
    }
    &__email {
        color: $azure;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 2rem;
        text-decoration: none;
        position: relative;
        top: 1.87rem;
        &::after {
            position: absolute;
            left: 0;
            margin: 2.375rem 0 -1.25rem 0;
            content: "";
            border-bottom: 3px solid $azure;
            border-radius: 41px;
            width: 100%;
        }
    }
    &__link {
        color: $azure;
        font-weight: 500;
        display: inline-block;
        transition: 0.2s ease-in-out;
        &:hover {
            color: $mariner;
            transform: scale(1.01);
        }
    }
    &__paragraph {
        max-width: 680px;
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 2.25rem;
        color: $shuttlegray;
        animation: slide-left 0.6s ease-out;
        @media (max-width: $mobile) {
            font-size: 1.14rem;
            line-height: 1.85rem;
        }
    }
    &__title {
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 3.5rem;
        margin-left: 0px;
        animation: slide-right 0.6s ease-out;
        @media (max-width: $mobile) {
            font-size: 1.85rem;
            line-height: 2.57rem;
        }
    }
}

.project {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 6px 16px rgba(24, 41, 67, 0.09);
    border-radius: 0.5rem;
    position: relative;
    padding-bottom: 4rem;
    @media (max-width: $mobile), (max-width: $tablet) {
        width: 90%;
        margin-bottom: 1.15rem;
    }
    &__content {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 3rem;
        @media (max-width: $mobile) {
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
    &__description {
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 2rem;
        color: $shuttlegray;
    }
    &__link {
        padding: 10px;
        color: $azure;
        font-style: normal;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 2rem;
        text-decoration: none;
        transition: color 0.4s ease-in-out;
        cursor: pointer;
        &:hover {
            color: $mariner;
            text-decoration: underline;
        }
    }
    &__link-icon {
        margin-right: 6px;
    }
    &__link-separator {
        background: $ghost;
        color: $ghost;
        width: 2px;
        height: 24px;
        margin: 0 20px 0 10px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    &__links-wrapper {
        display: flex;
        position: absolute;
        padding-right: 3rem;
        bottom: 0;
        width: 100%;
        background: $catskill;
        height: 64px;
        align-items: center;
        justify-content: flex-end;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        @media (max-width: 350px) {
            justify-content: center;
            padding-right: 0;
        }
    }
    &__logo {
        margin-bottom: -10px;
    }
    &__title {
        font-weight: 600;
        font-size: 1.25rem;
        word-break: break-all;
        line-height: 2rem;
        color: $bigstone;
    }
}

.project-list-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    margin-left: 6vw;
    margin-right: 6vw;
    height: auto;
    @media (max-width: $smalltablet) {
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
    }
}

.projects {
    flex-direction: column;
    background: $catskill;
    padding-bottom: 8rem;
    @media (max-width: $mobile) {
        padding-bottom: 2.85rem;
    }
    &__more {
        all: unset;
        text-align: center;
        font-size: 1.2rem;
        background: $catskill;
        border: 1px solid $azure;
        color: $azure;
        cursor: pointer;
        border-radius: 8px;
        margin-top: 2rem;
        width: 20rem;
        height: 3rem;
        box-shadow: 0px 6px 16px rgba(24, 41, 67, 0.09);
        transition: background 0.4s ease-out, color 0.4s ease-out;
        @media (max-width: $mobile) {
            width: 50%;
        }
        &:hover {
            @media (min-width: $mobile) {
                background: $azure;
                color: #ffffff;
            }
        }
    }
    &__more-wrapper {
        display: flex;
        justify-content: center;
    }
}

.projects-header {
    margin-left: 6vw;
    display: block;
    max-width: 580px;
    width: 100%;
    @media (max-width: $mobile), (max-width: $tablet) {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 2.28rem;
        margin-top: 5.71rem;
    }
    &__title {
        font-weight: 600;
        font-size: 2.25rem;
        line-height: 3rem;
        color: $bigstone;
        @media (max-width: $mobile) {
            font-size: 1.7rem;
            line-height: 2.28rem;
        }
    }
    &__paragraph {
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 2.25rem;
        color: $shuttlegray;
        @media (max-width: $mobile) {
            font-size: 1rem;
            line-height: 1.85rem;
        }
    }
}

.skill-group {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 20vw;
    margin-bottom: 6.25rem;
    width: 100%;
    @media (max-width: $mobile) {
        grid-template-columns: 1fr;
        margin-bottom: 3.42rem;
    }
    @media (max-width: $tablet) {
        grid-template-columns: 1fr;
        margin-bottom: 3.42rem;
    }
    &__title {
        margin: 0;
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.75rem;
        max-width: 370px;
        width: 100%;
        position: relative;
        @media (max-width: $mobile) {
            font-size: 1.57rem;
            line-height: 2.28rem;
        }
        &:before {
            position: absolute;
            content: "";
            height: 4px;
            width: 80px;
            border-radius: 8px;
            top: -10px;
            transform: matrix(1, 0, 0, -1, 0, 0);
            @media (max-width: $mobile) {
                width: 40px;
                top: -10px;
            }
        }
        &--first::before {
            background: $malachite;
        }
        &--second::before {
            background: $royalpurple;
        }
        &--third::before {
            background: $mariner;
        }
    }
}

.skill-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    grid-column-gap: 1.5rem;
    font-size: 1.125rem;
    @media (max-width: $tablet) {
        grid-template-columns: 1fr 1fr;
        margin-top: 2.6rem;
        margin-left: 2px;
        font-size: 1rem;
        line-height: 2.57rem;
        padding-inline-start: 1.14rem;
    }
    @media (max-width: $mobile) {
        grid-template-columns: 1fr;
        margin-top: 1.6rem;
        margin-left: 2px;
        font-size: 1rem;
        line-height: 2.57rem;
        padding-inline-start: 1.14rem;
    }
    &__element {
        font-weight: normal;
        line-height: 2.5rem;
        max-width: 279px;
        width: 100%;
        list-style-type: none;
        color: $shuttlegray;
        display: flex;
        align-content: center;
        margin-left: 10px;
        margin-top: -4px;
        top: -10px;
        position: relative;
        &::before {
            content: "";
            width: 1.125rem;
            height: 1.125rem;
            position: absolute;
            background-size: cover;
            left: -28px;
            top: 10px;
            @media (max-width: $mobile) {
                width: 0.85rem;
                height: 0.85rem;
                top: 0.8rem;
            }
        }
        &--first::before {
            background-image: url(../assets/img/check-circle.png);
        }
        &--second::before {
            background-image: url(../assets/img/check-circle-purple.png);
        }
        &--third::before {
            background-image: url(../assets/img/check-circle-blue.png);
        }
    }
}

.skills {
    margin-top: 12.5rem;
    margin-left: 6vw;
    margin-right: 6vw;
    @media (max-width: $mobile) {
        margin: 8.5rem 1.14rem 0 1.14rem;
    }
    &__title {
        width: 100%;
        font-weight: 600;
        font-size: 2.25rem;
        line-height: 3rem;
        @media (max-width: $mobile) {
            text-align: center;
            font-size: 1.71rem;
            line-height: 2.28rem;
        }
    }
    &__separator {
        width: 100%;
        margin-top: -1rem;
        border-bottom: 2px solid $ghost;
        opacity: 0.5;
        margin-bottom: 9.75rem;
        @media (max-width: $mobile) {
            text-align: center;
            margin-top: 0.85rem;
            margin-bottom: 4.42rem;
        }
    }
}
